{# src/ApplicationBundle/Resources/views/Default/index.html.twig #}
{% extends 'ApplicationBundle::base.html.twig' %}

{% block content %}
    <h4>Submit your application</h4>
    <form action="1" method="post" >
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Apply"/>
        {{ form_end(form) }}
    </form>
{% endblock %}