.content {
    width: 500px;
    margin:0 auto;
}
h4 {
    text-decoration: underline;
    margin:5px;
    text-align: center;
}
.footer {
    font-size: 8pt;
    font-weight: bolder;
}

.error {
    color: darkred;
}

.success {
    color: darkgreen;
}

table {
    font-size: 9pt;
    width: 100%;
}

td {
    padding: 5px 7px;
    max-width: 150px;
    overflow: hidden;
    white-space: pre-line;
    border-top: solid !important ;
    border-width: 0.001em !important;
    border-color: lightgrey!important;
}